name: CI-CD Academico

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4

      - name: Configurar Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar dependencias
        run: npm install

      - name: Ejecutar Lint
        run: npm run lint

      - name: Ejecutar pruebas
        run: npm test

      - name: Ejecutar Build
        run: npm run build

      - name: Generar artefacto
        run: zip -r build.zip .

      - name: Subir artefacto
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: build.zip
